@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800,600,200);

body {
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 28px;
  color: #252525;
  overflow-x: hidden;
}

li.lista {
  display: block;
  padding: 0px;
}

header {
  background: url("../imagenes/cabecera_gijon.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 10px;
  padding: 10px;
  height: 400px;
  border-radius: 15px;
}

.indice ul {
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

li {
  display: inline-block;
  padding: 0px 10px;
}

a:link, a:visited {
	text-decoration: none;
  color: white;
  padding: 9px 18px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
  font-size: 25px;
  letter-spacing: 5px;
  color: #252525;
  padding: 10px;
  margin: 10px;
  text-indent: 20px;
}

h3 {
  font-family: Georgia, serif;
  font-weight: bold; 
  font-size: 20px;
  color: #252525;
  padding: 10px;
  margin: 10px;
  text-indent: 20px;
}

.introduccion, .educacion {
  background: #ECECE3;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.toponimia, .camino, {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.gijon {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

p {
	font-family: Georgia, serif;
  font-size: 17px;
  line-height: 28px;
  color: #252525;
  padding: 10px;
  margin: 10px;
  text-indent: 20px;
}

.imagen1, .imagen3 {
  float: right;
  margin: 10px;
  padding-left: 10px;
  border-radius: 15px; 
}

img {
  border-radius: 15px; 
}

.imagen2 {
  float: left;
  margin: 10px;
  padding: 10px
}

a:link.enlace, a:visited.enlace, a:hover.enlace{
	text-decoration: none;
  color: rgba(38, 38, 38, 0.6);
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
  font-size: 32px;
  letter-spacing: 5px;
  color: #252525;
}

.pie, p.pie {
  text-align: center;
  color: rgba(38, 38, 38, 0.6);
  padding: 0px;
  margin-top: 50px;
  letter-spacing: 0px;
  text-indent: 0px;
  font-size: 12px;
}

.imagen5 {
  margin-top: 150px;
  text-align: center;
}
